<h1>add Contactsdsdsds</h1>

<!--form to add new contacts-->
<form>
    <div class="form-row">
        <div class="form-sector">
            <label class="col-form-label" for="name">name</label>
            <input class="form-control add-contact-input" type="text" ng-model="name" id="name" placeholder="Name" required>
        </div>
        <div class="form-sector">
            <label class="col-form-label" for="phone">phone</label>
            <input class="form-control add-contact-input" type="number" ng-model="phone" id="phone" placeholder="phone number" required>
        </div>
        <div class="form-sector">
            <label class="col-form-label" for="email">e-mail</label>
            <input class="form-control add-contact-input" type="email" ng-model="email" id="email" placeholder="e-mail" required>
        </div>
        <input class="btn btn-primary add-contact-btn" type="button" ng-click="addContacts()" value="add contact" ng-hide="!btnFlag">
        <input class="btn btn-primary add-contact-btn" type="submit" ng-click="doneEditing()" value="Done Editing !!" ng-hide="btnFlag">
    </div>
</form><strong>{{ errMsg }}</strong>

