<h1>taaaaaaaaable</h1>

<table class="table table-striped table-bordered contacts-table">
    <thead>
    <tr>
        <th>first Name</th>
        <th>phone Number</th>
        <th>e-mail Address</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contacts in list">
        <td class="contact-name">{{ contacts.Name }}</td>
        <td>{{ contacts.Phone }}</td>
        <td>{{ contacts.Email }}</td>
        <td>
            <button class="btn btn-info" ng-click="editContact($index)">edit</button>
            <button class="btn btn-danger" ng-click="deleteContact($index)">delete</button>
        </td>
    </tr>
    </tbody>
</table>

<a href="#/add" class="btn btn-info">Add New Contact</a>